* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{  
    background-color: darkblue;
    color: aliceblue;
}
h1 {
    margin-top: 200px;
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
}

form {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 5px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;

}

.botao input {
    background-color: rgb(16, 134, 0);
    border: none;
    margin: 7px;
    width: 100px;
    color: white;
}

::placeholder {
    text-align: center;
}
label {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

input {
    width: 100%;
    height: 20px;
}