* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #243757;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
}


h2 {
    text-align: center;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input,textarea,button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: green;
    color: white;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: darkgreen;
    transition: 500ms;
}